<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="zlibs/css/bootstrap.min.css">
	
    <style>
		navbar.a {color: inherit; }
		a.nav-link {
			font-size: 19px;
		}
		.carousel-item {
			transition: transform 0.5s ease, -webkit-transform 0.5s ease;
			-webkit-backface-visibility: visible;
	        backface-visibility: visible;
		}
		.track-link {
			color: black
		}
		.album-title {
		cursor: pointer;
		}
	</style>
    <script src="zlibs/js/angular-1.6.9.min.js"></script>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 justify-content-between">
		<a href="../rh-archive">
			<img class="navbar-brand" height="28px" src="img/rh-logo1.png"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item active align-middle">
					<a class="nav-link align-bottom" href="../rh-archive">
					<b>Archive</b></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"><b>News</b></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><b>Contacts</b></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><b>Donations</b></a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light my-2 border"><b>Sign-in</b></button>
					<button type="button" class="btn btn-primary my-2"><b>Sign-up</b></button>
				</div>
			</form>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1 class="pt-3">The Archive</h1>
				<p class="lead" >Welcome to this collection of accurate transposition
				of Radiohead songs into guitar (sometimes piano) chords and tabs.
				You'll find the transpositions below.</p><hr/>
				<h2 style="text-align:center" class="pb-2">Albums</h2>
			</div>
		</div>
		<div class="row">
			<div style="text-align:center" class="col" ng-app="myApp" ng-controller="trackCtrl">
				<div class="element"  ng-repeat="album in myAlbums" ng-click="toggleMe(album)" >
					<h4 class="album-title py-2">{{album.title + " (" + album.year +")"}}</h4>
					<ul ng-show="album.show" class="list-group-flush px-0 mx-0 py-0">
						<a ng-repeat="track in album.tracks" class="track-link" href='chord-frame.php?filename={{track.link}}'>
						<h4 class="lead list-group-item">{{track.name}}</h4>
						</a>
					</ul>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div class="pb-3"></div>
	<footer>
		<div class="container-fluid pt-4 pb-2 bg-dark text-white">
			<p>&copy 2018 <a style="color:white" href="https://github.com/filo-paa">filo-paa</a></p>
		</div>
    </footer>
<script>
var app = angular.module('myApp', []);
app.controller('trackCtrl', function($scope, $http) {
  $http.get("tracklist.php").then(function (response) {
	  $scope.myAlbums = response.data.albums;
  });
  $scope.toggleMe = function(x) {
	x.show = !x.show;
  }
});
</script>
<script src="zlibs/js/jquery-3.3.1.min.js"></script>
<script src="zlibs/js/bootstrap.min.js"></script>
  </body>
</html>
